<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="FishingShop" packages="">
    <Properties>
        <property name="pattern_console">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] - %m%n</property>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %logger{5}- %msg%n</property>
    </Properties>
     <Appenders>
         <Console name="STDOUT" target="SYSTEM_OUT">
             <PatternLayout pattern="${pattern_console}"/>
         </Console>
         <RollingFile name="RollingFile" fileName="${CATALINA_HOME}/logs/app.log"
                    filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
         <PatternLayout>
             <Pattern>${pattern_file}</Pattern>
         </PatternLayout>
         <Policies>
          <TimeBasedTriggeringPolicy />
          <SizeBasedTriggeringPolicy size="100 KB"/>
         </Policies>
             <DefaultRolloverStrategy max="10"/>
         </RollingFile>
    </Appenders>
    <Loggers>
      <Root level="debug">
        <AppenderRef ref="RollingFile"/>
        <AppenderRef ref="STDOUT"/>
      </Root>
    </Loggers>
</Configuration>