p,h2,h3{
    color: grey;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.div{
    border: 2px solid black;
    background: #ccc;
    position: fixed; top: 35%; left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
label {
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
}
table,th,td {
    border: 2px solid black;
    border-collapse: collapse;


}
table{
    table-layout: auto;
    width: 800px;
}
